<a href="https://colab.research.google.com/github/HarshaV05/rand.stuff.imp/blob/B1/Hyperparameter_Tuning_V1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df = pd.read_excel('creditcard_minimised.xlsx')

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 5 columns):
V6       284807 non-null float64
V9       284807 non-null float64
V12      284807 non-null float64
V17      284807 non-null float64
Class    284807 non-null int64
dtypes: float64(4), int64(1)
memory usage: 10.9 MB

In [0]:
df.describe()

                 V6            V9           V12           V17          Class
count  2.848070e+05  2.848070e+05  2.848070e+05  2.848070e+05  284807.000000
mean   2.040130e-15 -3.147640e-15 -1.803266e-15 -7.466538e-16       0.001727
std    1.332271e+00  1.098632e+00  9.992014e-01  8.493371e-01       0.041527
min   -2.616051e+01 -1.343407e+01 -1.868371e+01 -2.516280e+01       0.000000
25%   -7.682956e-01 -6.430976e-01 -4.055715e-01 -4.837483e-01       0.000000
50%   -2.741871e-01 -5.142873e-02  1.400326e-01 -6.567575e-02       0.000000
75%    3.985649e-01  5.971390e-01  6.182380e-01  3.996750e-01       0.000000
max    7.330163e+01  1.559499e+01  7.848392e+00  9.253526e+00       1.000000

In [0]:
df.head()

         V6        V9       V12       V17  Class
0  0.462388  0.363787 -0.617801  0.207971      0
1 -0.082361 -0.255425  1.065235 -0.114805      0
2  1.800499 -1.514654  0.066084  1.109969      0
3  1.247203 -1.387024  0.178228 -0.684093      0
4  0.095921  0.817739  0.538196 -0.237033      0

In [0]:
X = df[['V17', 'V9', 'V6', 'V12']]
y = df['Class']

In [0]:
from sklearn.preprocessing import StandardScaler
X = StandardScaler().fit_transform(X)

In [0]:
from sklearn.model_selection import train_test_split
X_Train, X_Test, y_Train, y_Test = train_test_split(X,y, test_size = 0.3, random_state = 101)