<a href="https://colab.research.google.com/github/HarshaV05/rand.stuff.imp/blob/B1/Hyperparameter_Tuning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df = pd.read_excel('drive/My Drive/creditcard_minimised.xlsx')

In [103]:
df.head()

         V6        V9       V12       V17  Class
0  0.462388  0.363787 -0.617801  0.207971      0
1 -0.082361 -0.255425  1.065235 -0.114805      0
2  1.800499 -1.514654  0.066084  1.109969      0
3  1.247203 -1.387024  0.178228 -0.684093      0
4  0.095921  0.817739  0.538196 -0.237033      0

In [104]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [0]:
df_0 = df[df['Class'] == 0]

In [106]:
df_0.head()

         V6        V9       V12       V17  Class
0  0.462388  0.363787 -0.617801  0.207971      0
1 -0.082361 -0.255425  1.065235 -0.114805      0
2  1.800499 -1.514654  0.066084  1.109969      0
3  1.247203 -1.387024  0.178228 -0.684093      0
4  0.095921  0.817739  0.538196 -0.237033      0

In [0]:
df_0 = df_0.reset_index()

In [108]:
df_0.tail()

         index        V6        V9       V12       V17  Class
284310  284802 -2.606837  1.914428  2.711941  1.991691      0
284311  284803  1.058415  0.584800  0.915802 -0.025693      0
284312  284804  3.031260  0.432454  0.063119  0.313502      0
284313  284805  0.623708  0.392087 -0.962886  0.509928      0
284314  284806 -0.649617  0.486180 -0.031513 -0.660377      0

In [109]:
df_0.columns

Index(['index', 'V6', 'V9', 'V12', 'V17', 'Class'], dtype='object')

In [0]:
df_1 = df[df['Class'] == 1 ]

In [0]:
df_1 = df_1.reset_index()
# df_1.drop(['index'])

In [112]:
df_1.head()

   index        V6        V9        V12        V17  Class
0    541 -1.426545 -2.770089  -2.899907  -2.830056      1
1    623 -1.064823 -0.270953  -0.503141   0.599717      1
2   4920 -0.075788 -0.238253  -6.560124  -4.781831      1
3   6108 -1.706536 -0.247768 -10.912819 -12.598419      1
4   6329 -1.357746 -1.282858  -4.609628   6.739384      1

In [0]:
df_0_sample = df_0.sample(750)
df_1_sample = df_1.sample(50)

In [0]:
df_new = df_0_sample.append(df_1_sample)

In [0]:
df_new = df_new.reset_index()

In [153]:
df_new['Class'].value_counts()

0    750
1     50
Name: Class, dtype: int64

In [0]:
X = df_new[['V17', 'V9', 'V6', 'V12']]
y = df_new['Class']

In [0]:
from sklearn.preprocessing import StandardScaler
X = StandardScaler().fit_transform(X)

In [0]:
from sklearn.model_selection import train_test_split
X_Train, X_Test, y_Train, y_Test = train_test_split(X,y, test_size = 0.3, random_state = 1001)

In [0]:
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [0]:
rfc = RandomForestClassifier(random_state=101)
rfc.fit(X_Train,y_Train)
y_Pred = rfc.predict(X_Test)

In [159]:
print(confusion_matrix(y_Test, y_Pred))

[[226   0]
 [  3  11]]

In [160]:
print(classification_report(y_Test, y_Pred))

              precision    recall  f1-score   support

           0       0.99      1.00      0.99       226
           1       1.00      0.79      0.88        14

    accuracy                           0.99       240
   macro avg       0.99      0.89      0.94       240
weighted avg       0.99      0.99      0.99       240

In [161]:
print(accuracy_score(y_Test, y_Pred))

0.9875