In [0]:
import pandas as pd

In [0]:
df = pd.read_excel('drive/My Drive/creditcard_minimised.xlsx')

In [4]:
df_1 = df[df['Class']==1]
df_1.shape

(492, 5)

In [5]:
df_0 = df[df['Class']==0]
df_0.shape

(284315, 5)

In [0]:
df_1 = df_1[0:400]
df_0 = df_1[0:400]

In [0]:
df = df_1.append(df_0, ignore_index=True)

In [8]:
df.head()

         V6        V9        V12        V17  Class
0 -1.426545 -2.770089  -2.899907  -2.830056      1
1 -1.064823 -0.270953  -0.503141   0.599717      1
2 -0.075788 -0.238253  -6.560124  -4.781831      1
3 -1.706536 -0.247768 -10.912819 -12.598419      1
4 -1.357746 -1.282858  -4.609628   6.739384      1